.user {
  margin-bottom: 10px;
}

.files-ttl {
  font-weight: bold;
  padding-left: 75px;
}

.MuiList-root.files-list {
  padding-left: 75px;
}

.file .MuiTypography-colorTextSecondary {
  color: #0a5fb7;
  overflow-wrap: break-word;
}
