.user {
  margin-bottom: 10px;
}

.detail-ttl {
  font-weight: bold;
  padding-left: 75px;
}

.detail-block.description-block {
  margin-bottom: 25px;
}

.detail-block.description-block .detail-ttl {
  margin-bottom: 10px;
}

.details,
.MuiList-root.details {
  padding-left: 75px;
}

.file .MuiTypography-colorTextSecondary {
  color: #0a5fb7;
  overflow-wrap: break-word;
}
